body {
	background-color: #333;
	color: #fff;
	text-align: center;
	font-family: arial;
}

.player {
	color: lightpink;
}

.player-back {
	background-color: lightpink;
}

.box.player-back, .box.comp-back {
	opacity: 0.6;
}

.comp {
	color: lightblue;
}

.comp-back {
	background-color: lightblue;
}

.center {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.left {
	width: 20%;
	float: left;
}

.right {
	width: 20%;
	float: right;
}

.header-space {
	margin: 0 auto;
	margin-bottom: 30px;
}

.btn {
	width: 10px;
	margin-top: 20px;
	padding: 10px 40px;
	border-radius: 5px;
	background-color: #337ab7;
	font-size: 15px;
	color: #fff;
	text-decoration: none;	
}

.btn:hover {
	background-color: #1e496d;
}

.mid-wrapper {
	margin: 0 auto;
	width: 70%;
}

.turn-ind {
	margin: 0 auto;
	border-radius: 10px;
	opacity: 0.9;
	color: #333;
	width: 50%;
	padding: 10px;
}

.hidden {
	visibility: hidden;
}

#comp-option-div {
	margin: 20px;
}

table.game-table {
	border: 1px solid #666666;
}

td {
	padding: 0px;
}

.box, .horiz-line {
	width: 40px;
}

.box, .vert-line {
	height: 40px;
}

.dot, .vert-line {
	width: 3px;
}

.dot, .horiz-line {
	height: 3px;
}

.dot {
	border-radius: 50%;
	background-color: #fff;
}

.line {
	/*background-color: #fff;*/
	border: 3px solid #333;
}

.box {
}

.good {
	background-color: rgba(0, 255, 0, 0.2);
}

.line-show {
	background-color: #fff;
}