body {
	background-color: #333;
	color: #fff;
	text-align: center;
	font-family: arial;
}

.center {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header-space {
	margin: 0 auto;
	/*margin-bottom: 20px;*/
}

.btn {
	width: 50px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: #337ab7;
	font-size: 15px;
	color: #fff;
	text-decoration: none;	
}

.btn:hover {
	background-color: #1e496d;
}

table.game-table {
	margin: 0 auto;
	border: 1px solid #666666;
}

td {     padding: 0px;     /*border: 1px solid blue;*/ }

.box, .horiz-line {
	width: 40px;
}

.box, .vert-line {
	height: 40px;
}

.dot, .vert-line {
	width: 2px;
}

.dot, .horiz-line {
	height: 2px;
}

.dot {
	border-radius: 50%;
	background-color: #fff;
}

.line {
	/*background-color: #fff;*/
	border: 3px solid #333;
}

.box {
}

.good {
	background-color: rgba(0, 255, 0, 0.2);
}

.line-show {
	background-color: #fff;
}